<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="keyword" content="miguelmendes miguel mendes sofware developer" />

    <!-- custom CSS -->
    <link rel="stylesheet" href="{{'/assets/css/main.css' | prepend: site.baseurl }}">     

    <!-- FontAwesome -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"> 
    <!-- Tachyons -->
    <link rel="stylesheet" href="https://unpkg.com/tachyons@4.10.0/css/tachyons.min.css"/>
    <!-- AOS -->
    <link rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css" />

    <!-- Leaflet -->
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.6.0/dist/leaflet.css"
    integrity="sha512-xwE/Az9zrjBIphAcBb3F6JVqxf46+CDLwfLMHloNu6KEQCAWi6HcDUbeOfBIptF7tcCzusKFjFw2yuvEpDL9wQ=="
    crossorigin=""/>
        
    <meta property="og:locale" content="en_US" />
    <meta property="og:type" content="website" />
    <meta property="og:title" content="{{page.title}}{% unless page.title contains site.title%} | {{site.title}}{% endunless %}" />
    <meta property="og:description" content="{{page.description}}{% unless page.description contains site.description%} | {{site.description}}{% endunless %}" />
    <meta property="og:site_name" content="{{page.title}}{% unless page.title contains site.title%} | {{site.title}}{% endunless %}" />
    <title>{{site.title}} | {{page.title | capitalize}}</title>
</head>

<body>
    <!-- Include NavBar -->
    {% include navbar.html %}
    
    <!-- Page content -->
    {{ content }}

    <!-- Include footer -->
    {% include footer.html %}



</body>
</html>